body {
    background-color:Tan;
    color:MidnightBlue;
    font-family:arial, helvetica, sans-serif;
}

ol {
    list-style-type: square;
    padding: 2px
}

li{
   display:list-item; 
}

h1{
    text-align:left;
}

p{
    text-align:left;
    height:75%;
    width:75%;
}

.credits{
    text-align:right;
}

.person{
    color:red;
}

.place{
    color:Indigo;
}

.transport{
    color:Maroon;
}

u{
    color:fuchsia;
}

.x{
    color:DarkSlateGrey;
}

.hand{
    color:DarkSeaGreen;
}

.spelling{
    color:lime;
    outline-style:groove;
}

.pencil{
    color:brown;
}

.type{
    color:black;
}

.space{
    color:Olive;
}

figure {
    background-color:lavender; 
    margin:3em; 
    width: 30%;
} 

figcaption {
    font-style:italic; 
    font-size:.8em;
}

figure img {
    max-width:300px; 
    width:100%;
}
 
 img{
     border-radius: 15px;
     flex-direction: row;
     margin-bottom: 20px; 
     margin: 10px;
     height: 500px;
     width: 300px;
     background:Thistle;
 }
 
 .header{
     line-height: 150%;
     font-size: 18px;
     font-family: 'Sansita', sans-serif;
 }
 
 .header:hover{
     line-height: 150%;
     font-size: 18px;
     font-family: arial, helvetica, san-serif;
     color:silver;
 }