body {
    background-color:Tan;
    color:black;
    font-family:arial, helvetica, sans-serif;
}

ol {
    list-style-type: square;
    padding: 2px
}

li{
   display:list-item; 
}

h1{
    text-align:left;
}

p{
    text-align:left;
    height:75%;
    width:75%;
}