@import url('https://fonts.googleapis.com/css2?family=Galdeano&display=swap');

body{
    background: white;
}

svg text{
    font-family: 'Galdeano', sans-serif;
}

#svgTimeline{
    margin: auto;    
    width: 929px;
}

#timelineHeader{
    cursor: pointer;
}

#calendar,#warrenLetters,#sipleLetter,#travelLetters,
#calendar-timelineInfo,#warrenLetters-timelineInfo,#sipleLetter-timelineInfo,#travelLetters-timelineInfo,
#calendar-timeline,#warrenLetters-timeline,#sipleLetter-timeline,#travelLetters-timeline
{
    display: none;
    cursor: pointer;
}


