/* latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v25/ieVl2ZhZI2eCN5jzbjEETS9weq8-19K7DQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotoslab/v24/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjovoSmb2Rj.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
title {
 font-size: 36px;
    color: white; 
    
}
body {
font-family: arial, helvetica, sans-serif;
background-color: #009CDE;
color: white;
}

h1 {
    font-size: 48px;
    color: white;    
}

h2 {
    font-size: 36px;
    color: white;
}

h3 {
    font-size: 24px;
    color: white;
}

p {
    font-size: 14px;
    color: black;
}


/* unvisited link */
a:link {
  color: White;
}

/* visited link */
a:visited {
  color: DarkSlateGray;
}

/* mouse over link */
a:hover {
  color: cornflowerblue;
}

/* selected link */
a:active {
  color: DarkSlateGray;
}

/*Paragraph color block*/
.block {
    background-color: white;
    opacity: 0.65;
    width: auto;
    height: auto;
    padding: 5px;
}

.PSB{
  position: absolute;
  object-fit: contain;
  top: -10px;
  right: 0;
  width: 500px;
  height: 150px;
}

.pennStateFooter{
    position: absolute;
  object-fit: contain;
  width: 500px;
  height: 150px;
}


.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li {
     list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a {
       text-decoration: none;
    color: azure;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
     width: 100%;
}