@import url('https://fonts.googleapis.com/css2?family=Galdeano&display=swap');

body{
    background: white;
}

svg text{
    font-family: 'Galdeano', sans-serif;
}

#svgTimeline{
    margin: auto;    
    width: 929px;
}

g[id^="proj"], g[class$="Info"], g[class$="timeline"]{
    display: none;
}

text[id$="Title"]:hover, .timeline text:hover, #timelineHeader g:hover{
    filter: brightness(1.2);
    cursor: pointer;
}




